h4{
    color: rgb(219, 168, 0);
}
.armas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.arma{
    width: 500px;
    height: 450px;
    border: solid 3px #a4600a;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

   
}
.hacha{
    max-width: 60%;
}
.p{
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: justify;
    margin: 15px;
    padding: 12px;
    
}