.portada{
    width: 100%;
    height: 600px;
    background-image: url(../media/imagenes/ornn-orn.gif);
    background-size: cover;
    background-attachment: fixed;
}
.contenido{
    margin: 15px;
}

main{
    color: #ffff;
}
h1 {
    color: rgb(219, 168, 0);
    text-align: center;
    font-size: 48px;
    }
h2{
    text-align: center;
    font-size: 30px;
}
